version: "3.9"

services:
  db:
    image: postgres:16
    restart: always
    ports:
      - "5432:5432"
    env_file:
      - backend/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: docker/backend/dev/Dockerfile
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - backend/.env
    depends_on:
      - db
    command: sh -c "python manage.py collectstatic --noinput && python manage.py migrate && uvicorn core.asgi:application --host 0.0.0.0 --port 8000 --reload"

  ui:
    build:
      context: .
      dockerfile: docker/ui/dev/Dockerfile
    volumes:
      - ./ui:/app
    ports:
      - "3000:3000"
    depends_on:
      - backend
    command: sh -c "npm run dev -- --host 0.0.0.0 --port 3000"
    environment:
      - CHOKIDAR_USEPOLLING=true # optional if file changes not detected
    env_file:
      - ui/.env

volumes:
  postgres_data:
